// 标题色
$main-title-color: #2c4862;
$main-theme-color: #a9e3db;
$main-bg-color: #fcfcfc;
$main-icon-color: #f6a377;
// 灰度
.bg-gray {
	-webkit-filter: grayscale(1); /* Webkit */
	filter: gray; /* IE6-9 */  
	filter: grayscale(1); /* W3C */
}
.line-theme {
	border-color: $main-theme-color;
}

.bg-theme {
	background: $main-theme-color;
}
.bg-icon {
	background: $main-icon-color;
}
.color-title {
	color: $main-title-color;
}
.width-max {
	width: 100%;
}
